{% extends 'base.html.twig' %}

{% block title %}Strona główna{% endblock %}

{% block body %}

<div class="container-fluid text-center">
    <h1 class="m-5">Witaj na stronie mojego projektu</h1>
</div>

{% endblock %}
